body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategray;
}

h1 {
    font-size: 52px ;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

div {
    margin-left: 50px;
    background-color: lightsteelblue;
    padding-left: 50px;
    box-sizing: border-box;
    width: 1400px
}

.food-image {
    height: 500px;
    width: auto;
}

.title {
    width: 1400px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 30px;
}

.recipe-description {
    height: 30px;
    width: auto;
    margin-left: 0;
    box-sizing: border-box;
    padding-left: 0;

}

.ingredients, .steps {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.landing-title {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 10px;
}

.recipe-button {
    height: 200px;
    width: 400px;
    border: solid 2px blue;
    transition-duration: .4s;
    font-weight: bold;
    font-size: 32px;
    display: inline-block;
    margin: 30px;
    background-color: blue;
    color: white;
    
}

.recipe-button:hover {
    background-color: white;
    color: blue;
    
}

.recipe-card {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 0 ;
    padding-bottom: 1500px;
}